<template>
  <header>
      <div class="h-container">
        <h1>Cards game <span id="info" class="material-icons" @click="info">information</span></h1>
      </div>
  </header>
</template>

<script>
import swal from 'sweetalert'

export default {
  name: 'Header',
  methods: {
    info: function() {
      swal({
        title: "Instrucciones",
        text: "1. Ingresa cada tema (1 - 4)\n2. Ingresa las preguntas de cada tema (1 - 4)\n3.Da click en 'Comenzar juego'",
        icon: "info",
      })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('./../../css/header.css');
</style>