<template>
    <section id="form">
        <div class="form-group-main" v-if="topics != 'undefined' && topics.length < 4 && !isStarted">
            <label>Tema a ingresar:</label>
            <input type="text" v-model="topic" @keyup.enter="addTopic">
            <button @click="addTopic">Agregar tema</button>
        </div>
        <div class="topics-group" v-if="!isStarted">
            <div class="topic-card" v-for="(item, index) of topics" :key="item">
                <h4>{{ item }}</h4>
                <div class="form-group" v-if="index == 0 && topicOneQuestions != 'undefined' && topicOneQuestions.length < 4" >
                    <label>Pregunta a ingresar:</label>
                    <input type="text" v-model="question[0]" @keyup.enter="addT1Question">
                    <button @click="addT1Question">Agregar pregunta</button>
                </div>
                <div class="form-group" v-if="index == 1 && topicTwoQuestions != 'undefined' && topicTwoQuestions.length < 4">
                    <label>Pregunta a ingresar:</label>
                    <input type="text" v-model="question[1]" @keyup.enter="addT2Question">
                    <button @click="addT2Question">Agregar pregunta</button>
                </div>
                <div class="form-group" v-if="index == 2 && topicThreeQuestions != 'undefined' && topicThreeQuestions.length < 4">
                    <label>Pregunta a ingresar:</label>
                    <input type="text" v-model="question[2]" @keyup.enter="addT3Question">
                    <button @click="addT3Question">Agregar pregunta</button>
                </div>
                <div class="form-group" v-if="index == 3 && topicFourQuestions != 'undefined' && topicFourQuestions.length < 4">
                    <label>Pregunta a ingresar:</label>
                    <input type="text" v-model="question[3]" @keyup.enter="addT4Question">
                    <button @click="addT4Question">Agregar pregunta</button>
                </div>
                <div class="questions-container">
                    <h5>Preguntas:</h5>
                    <ul class="card-list" v-if="index == 0">
                        <li class="card" v-for="item of topicOneQuestions" :key="item"><p>{{ item }}</p></li>
                    </ul>
                    <ul class="card-list" v-if="index == 1">
                        <li class="card" v-for="item of topicTwoQuestions" :key="item">{{ item }}</li>
                    </ul>
                    <ul class="card-list" v-if="index == 2">
                        <li class="card" v-for="item of topicThreeQuestions" :key="item">{{ item }}</li>
                    </ul>
                    <ul class="card-list" v-if="index == 3">
                        <li class="card" v-for="item of topicFourQuestions" :key="item">{{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="game-control" v-if="topicOneQuestions != 'undefined' && topicOneQuestions.length > 0">
            <button class="init-game" v-if="!isStarted" @click="isStarted = true">Comenzar juego</button>
            <button class="restart-game" v-else @click="restart">Reiniciar juego</button>
        </div>
    </section>
    <GameTable v-if="isStarted"/>
</template>

<script>
    import GameTable from './Game.vue'
    import swal from 'sweetalert'

    export default {
        name: 'Form',
        components: {
            GameTable
        },
        data() {
            return {
                topic: '',
                topics: [],
                question: ['','','',''],
                topicOneQuestions: [],
                topicTwoQuestions: [],
                topicThreeQuestions: [],
                topicFourQuestions: [],
                isStarted: false
            }
        },
        methods: {
            addTopic: function() {
                if (this.topics.length < 4) {
                    if (this.topic != '') {
                        //console.log(this.topics)
                        this.topics.push(this.topic)
                        localStorage.setItem('topics', JSON.stringify(this.topics))
                        this.topic = ''
                    } else {
                        this.inputSwal('un nuevo tema')
                    }
                } else {
                    swal('Lo sentimos, sólo se pueden tener hasta 4 temas')
                }
            },
            addT1Question: function() {
                if (this.topicOneQuestions.length < 4) {
                    if (this.question[0] != '') {
                        //console.log("AGREGANDO PREGUNTA...", this.question[0])
                        this.topicOneQuestions.push(this.question[0])
                        localStorage.setItem('t1Questions', JSON.stringify(this.topicOneQuestions))
                        this.question[0] = ''
                    } else {
                        this.inputSwal('una nueva pregunta')
                    }
                } else {
                    swal('Lo sentimos, sólo se pueden tener hasta 4 preguntas')
                }
            },
            addT2Question: function() {
                if (this.topicTwoQuestions.length < 4) {
                    if (this.question[1] != '') {
                        //console.log("AGREGANDO PREGUNTA...", this.question[1])
                        this.topicTwoQuestions.push(this.question[1])
                        localStorage.setItem('t2Questions', JSON.stringify(this.topicTwoQuestions))
                        this.question[1] = ''
                    } else {
                        this.inputSwal('una nueva pregunta')
                    }
                } else {
                    swal('Lo sentimos, sólo se pueden tener hasta 4 preguntas')
                }
            },
            addT3Question: function() {
                if (this.topicThreeQuestions.length < 4) {
                    if (this.question[2] != '') {
                        //console.log("AGREGANDO PREGUNTA...", this.question[2])
                        this.topicThreeQuestions.push(this.question[2])
                        localStorage.setItem('t3Questions', JSON.stringify(this.topicThreeQuestions))
                        this.question[2] = ''
                    } else {
                        this.inputSwal('una nueva pregunta')
                    }
                } else {
                    swal('Lo sentimos, sólo se pueden tener hasta 4 preguntas')
                }
            },
            addT4Question: function() {
                if (this.topicFourQuestions.length < 4) {
                    if (this.question[3] != '') {
                        //console.log("AGREGANDO PREGUNTA...", this.question[3])
                        this.topicFourQuestions.push(this.question[3])
                        localStorage.setItem('t4Questions', JSON.stringify(this.topicFourQuestions))
                        this.question[3] = ''
                    } else {
                        this.inputSwal('una nueva pregunta')
                    }
                } else {
                    swal('Lo sentimos, sólo se pueden tener hasta 4 preguntas')
                }
            },
            restart: function() {
                this.topics = []
                this.topicOneQuestions = []
                this.topicTwoQuestions = []
                this.topicThreeQuestions = []
                this.topicFourQuestions = []
                this.isStarted = false
                localStorage.clear()
            },
            inputSwal: function(msg) {
                swal({
                    title: "Espera!",
                    text: "Debes ingresar texto en el campo antes de ingresar " + msg,
                    icon: "warning",
                })
            }
        },
    }
</script>

<style scoped>
@import url('./../css/form.css');
</style>