<template>
    <section id="game-table">
        <div class="game-topic-card" v-for="(item,index) in topics" :key="item">
            <h3>{{ item }}</h3>
            <ul>
                <li class="game-quest-card" v-for="(t,i) in questions[index]" :key="t" :class="`quest-card-${index}-${i}`">
                    <h4 v-if="questionRevealed[index][i] === true">{{i + 1}}.- {{ t }}?</h4>
                    <div class="actions" v-if="endGame == false">
                        <button class="reveal" :class="'bg-color'" v-if="questionRevealed[index][i] == false" @click="revealCard(index,i)">
                            <span class="material-icons" v-if="i == 0">looks_one</span>
                            <span class="material-icons" v-else-if="i == 1">looks_two</span>
                            <span class="material-icons" v-else-if="i == 2">looks_3</span>
                            <span class="material-icons" v-else>looks_4</span>
                        </button>
                        <button class="mark-right" v-if="questionRevealed[index][i] === true" @click="successQuestion(index,i)">
                            <span class="material-icons">done</span>
                        </button>
                        <!-- <button class="mark-mid" v-if="questionRevealed[index][i] === true" @click="midQuestion(index,i)">
                            <span class="material-icons">warning_amber</span>
                        </button>
                        <button class="mark-wrong" v-if="questionRevealed[index][i] === true" @click="badQuestion(index,i)">
                            <span class="material-icons">dangerous</span>
                        </button> -->
                        <button class="unreveal" v-if="questionRevealed[index][i] === true" @click="clearCard(index,i)">
                            <span class="material-icons">close_fullscreen</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="table-options game-control" v-if="endGame == false">
        <button class="clear-cards" @click="clearCards()">Limpiar tarjetas</button>
        <button class="endGame" @click="endGame = true">Terminar</button>
    </div>
</template>

<script>
    import $ from 'jquery'

    export default {
        name: 'GameTable',
        data() {
            return {
                topics: [],
                questions: [],
                questionRevealed: [],
                endGame: false,
            }
        },
        methods: {
            clearCards: function() {
                for (let t = 0; t < this.topics.length; t++) {
                    for (let s = 0; s < this.questions[t].length; s++) {
                        this.clearCard(t,s)
                        //console.log(this.questionRevealed[t][s])
                    }
                }
            },
            revealCard: function(topic,quest) {
                this.questionRevealed[topic][quest] = true
            },
            successQuestion: function(topic,quest) {
                $('.quest-card-' + topic + '-' + quest).addClass('success')
            },
            midQuestion: function(topic,quest) {
                $('.quest-card-' + topic + '-' + quest).addClass('alert')
            },
            badQuestion: function(topic,quest) {
                $('.quest-card-' + topic + '-' + quest).addClass('danger')
            },
            clearCard: function(topic,question) {
                $('.quest-card-' + topic + '-' + question).removeClass('success')
                //$('.quest-card-' + topic + '-' + question).removeClass('alert')
                //$('.quest-card-' + topic + '-' + question).removeClass('danger')
                this.questionRevealed[topic][question] = false
            }
        },
        created: function() {
            let topics = JSON.parse(localStorage.getItem('topics'))
            let topicsData = [JSON.parse(localStorage.getItem('t1Questions')),JSON.parse(localStorage.getItem('t2Questions')),JSON.parse(localStorage.getItem('t3Questions')),JSON.parse(localStorage.getItem('t4Questions'))]
            
            if (topics === null) {
                this.topics = []
            } else {
                this.topics = topics
            }  
            
            for (let t = 0; t < topicsData.length; t++) {

                if (topicsData[t] === null) {
                    this.questions.push([])
                } else {
                    this.questions.push(topicsData[t])
                    let falseArray = []

                    for (let s = 0; s < topicsData[t].length; s++) {
                        falseArray.push(false)
                    }
                    this.questionRevealed.push(falseArray)
                }    
            }

        },
    }
</script>

<style scoped>
@import url('./../css/gameTable.css');
</style>