<template>
  <main>
    <Form/>
  </main>
</template>

<script>
import Form from './Form.vue'

export default {
  name: 'Main',
  components: {
    Form
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>