button {
    @apply py-1 px-3 bg-blue-700 text-white rounded-md;
}

input {
    @apply py-1 px-3 border border-black rounded-lg;
}

label {
    @apply text-lg;
}

#form {
    @apply px-12 py-3 shadow-md bg-white;
}

.form-group-main {
    @apply w-full pb-3 text-black flex;
}

.form-group-main label {
    @apply text-xl mr-3;
    word-break: break-word;
}

.form-group-main input {
    @apply w-1/4;
}

.form-group-main button {
    @apply object-right ml-auto;
}

.topics-group {
    @apply flex flex-row justify-center my-4;
}

.topic-card {
    @apply mx-4 p-2 shadow-lg bg-gray-100;
    width: 22%;
}

.topic-card h4 {
    @apply text-black text-3xl font-semibold;
}

.form-group {
    @apply w-full pb-3 text-black;
}

.form-group label {
    @apply text-base;
}

.form-group input {
    @apply w-full mb-1;
}

.form-group button {
    @apply object-right ml-auto;
}

.questions-container h5 {
    @apply mb-2;
}

.card {
    @apply w-full h-auto bg-gray-700 rounded-lg py-1 px-3 mb-1 flex text-white text-lg text-left;
}

.card p {
    text-wrap: balance;
    display: inline-block;
}

.game-control {
    @apply w-full flex justify-center;
}

.game-control button {
    @apply mx-3;
}

.restart-game {
    @apply bg-gray-600;
}