h3 {
    @apply text-2xl font-semibold mb-5;
}

h4 {
    @apply text-xl font-medium mb-2 mx-3;
    word-break: break-word;
}

#game-table {
    @apply w-full flex mt-4 justify-center;
}

.game-topic-card {
    width: 22%;
    @apply bg-white text-black shadow-lg p-2 mx-3;
}

.game-quest-card {
    @apply bg-gray-200 rounded-md p-1 mb-2;
}

.actions {
    @apply w-full flex justify-center mt-2;
}

.material-icons {
    font-size: 32px;
}

.actions button {
    @apply py-1 px-3 m-2 text-xl;
}

.reveal {
    @apply animate-bounce;
    animation: bg-rainbow 5s infinite;
}

.mark-right {
    @apply bg-green-600;
}

/* 
.mark-mid {@apply bg-yellow-400;}
.mark-wrong {@apply bg-red-600;} 
*/

.unreveal {
    @apply bg-gray-600;
}

.success {
    @apply bg-green-700 text-white;
}

.table-options {
    @apply mt-6 pt-6 pb-16 bg-gray-600;
}

.endGame {
    @apply py-2 px-6 bg-red-600 text-xl;
}

.clear-cards {
    @apply py-2 px-6 bg-yellow-600 text-xl;
}

/* 
.alert {@apply bg-yellow-600 text-white;}
.danger {@apply bg-red-700 text-white;}
*/

@keyframes bg-rainbow {
    0% { @apply bg-red-600; }
    20% { @apply bg-yellow-600; }
    40% { @apply bg-blue-600; }
    60% { @apply bg-purple-700; }
    80% { @apply bg-pink-600; }
    100% { @apply bg-red-600; }
  }