<template>
  <Header/>
  <Main/>
  <Footer/>
</template>

<script>
import Header from './components/layout/Header.vue'
import Footer from './components/layout/Footer.vue'
import Main from './components/Main.vue'

export default {
  name: 'App',
  components: {
    Header,
    Main,
    Footer
  }
}
</script>

<style>
body {
  @apply bg-gray-200;
}
</style>
